
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.welcome-section-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 85px;
}
.card-background-register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.register-logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 120px;
    transition: transform 0.3s ease;
}

.register-logo:hover {
    transform: scale(1.05);
}
#register-card{
    padding: 0px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-link {
    color: #007bff; /* Blue link */
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

#registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#registerForm h2{
    color: #ffffff;
    margin-bottom: 10px;
}
#registerForm span{
    color: #ffffff;
}
#registerForm input{
    height: 40px;
    width: 100%;
    font-size: 1rem;
    border: solid 1px #007bff;
    border-radius: 5px;
    padding-left: 10px;
}

#registerForm input:focus{
    outline: none;
    border-color: #f4a623;
    box-shadow: 0 0 8px rgba(244, 166, 35, 0.6);
}
.form-container-register{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.email-register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.password-register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.name-numbre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cont-btn-register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 40%;
    height: 40px;
    background-color: #f4a623;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-btn :hover {
    background-color: #d88e1a;
}

.social-register-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 40%;
    height: 40px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.social-register-btn:hover {
    background-color: #3367d6;
}

.nit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}